<% provide :title, t(".title") %>
<div class="text-center">
    <h1><%= t(".welcome_to_sample_app") %></h1>
    <p><%= t(".description") %></p>
    <%= link_to t(".sign_up_now"), signup_path, class: "btn btn-primary btn-lg" %>
</div>
