<% provide(:title, t(".title")) %>

<div class="container-fluid min-vh-100 d-flex align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
          <h1 class="card-title mb-0"><%= t(".title") %></h1>
        </div>
        <div class="card-body">
           <%= render "password_resets_form">
        </div>
      </div>
    </div>
  </div>
</div>
