<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    <h2><%= pluralize(object.errors.count , t("shared.error_messages.count")) %></h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
