<% provide(:title, t("microposts.title")) %>
<h1><%= t("microposts.all") %></h1>
<% if @microposts.any? %>
    <div class="microposts">
        <%= render partial: "shared/micropost", collection: @microposts %>
    </div>
<% else %>
    <p><%= t("microposts.none_yet") %></p>
<% end %>
