<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<% if @microposts.any? %>
    <div class="microposts">
        <%= render partial: "micropost", collection: @microposts %>
    </div>
<% else %>
    <p><%= t(".none_yet") %></p>
<% end %>
